:root {
    --headerBackgroundColor: #2B3743;
    --mainBackgroundColor: #212C36;
    --textColor: #FFF;
}
html {
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.5px;
}
body {
    margin: 0;
    padding: 10px;
    min-height: 100%;
    color: var(--textColor);
    background-color: var(--mainBackgroundColor);
}
button {
    cursor: pointer;
    color: var(--textColor);
}
h1, h2, h3, h4, p {
    margin: 0;
}
.arrowIcon {
    width: 30px;
    height: 30px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
}
.container {
    background-color: var(--headerBackgroundColor);
    border-radius: 8px;
    box-shadow: 0 0 5px 4px #0000001a;
    padding: 10px;
}

/* COMPONENTS */

app-stock, app-overview, app-mrdividend, app-splits, app-financials, app-about {
    display: block;
}
app-mrdividend, app-financials, app-splits, app-about {
    padding: 10px 0;
}
app-overview {
    display: grid;
    padding: 0 0 20px 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dataNotFound {
    text-align: center;
    margin: 20px 0 0 0;
}

input {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 16px;
    font-weight: 300;
}

/* LOADER */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}